body{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	overflow-x:hidden;
}
/*all-img*/
.all-img{
	height:100%;
	width:100%;
	object-fit:cover;
}
/*top-head*/
.top-head{
	background-color:#f3f3f3;
}
.top-flex{
	display:flex;
	flex-flow: row wrap;
	padding:10px 0px;
	width:95%;
	margin:auto;
	color:#959292;
}
.top-left,.top-right{
	width:50%;
}
.top-ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
	float:right;
}
.top-ul li{
	float:left;
}
.top-ul li a{
	text-decoration:none;
	color:#959292;
	padding:8px 15px;
	transition:0.5s ease-in-out;
}
.top-ul li a:hover{
	color:#eb9fe6;
}
/*top-int*/
.top-int{
	width:50%;
	margin:auto;
	padding:15px;
}
.top-search{
	padding:10px 0px;
border-radius:10px;
border:1px solid #959292;
width:80%;
}
.top-btn{
	border:none;
background-color:white;
margin-left:-40px;
padding:5px;
border-left:1px solid #959292;
}
/*head-nav*/
.head-nav{
	width:100%;
	margin:auto;
	padding:10px 45px;
	background-color:#060001;
}
.head-color,.head-color ul li a{
	color:white;
}
/*article*/
.article-img{
   transition:0.3s;
   }
   .article-img:hover{
   opacity:0.6;
   }
   .article-title{
   position:absolute;
   top:45%;
   left:40%;
   display:none;
   }
   .article-btn{
   border:1px solid white;
   padding:7px 15px;
   color:white;
   background-color:transparent;
   transition:0.3s
   }
   .article-btn:hover{
    background-color:white;
    color:black;
   }
   .col:hover,.col-sm-6:hover .article-title{
   display:block;
   }
   /*f-item*/
   .f-rel{
   position:relative;
   height:400px;
   transition:0.4s ease-in;
   }
   .f-rel:hover .f-img{
   opacity:0.6;
   }
   .f-abs{
   position:absolute;
   top:45%;
   left:40%;
   display:none;
   }
   .f-rel:hover .f-abs{
   display:block;
   }
   .f-abs-2{
   position:absolute;
   bottom:92%;
   left:75%;
   display:block;
   }
   .f-abs-3{
   position:absolute;
   bottom:80%;
   border-radius:50%;
   width:50px;
   background-color:#e13ed7;
   }
   /*special*/
   .special-rel{
  height:400px;
  width:400px;
  background:crimson;
  position:relative;
  transition: 0.4s;
  }
  .special-rel:hover{
  	opacity:0.5;
  }
   .special-abs{
   position:absolute;
   top:50%;
   left:60%;
   }
   /*bg-img*/
   .bg-img{
background-image:url("../image/back.png");
width:100%;
height:470px;
}
/*carousel*/
.example {
  max-width: 100%;
  height: 600px;
}
